<div class="container">
  <div class="posts posts-card-view">
    <mat-card class="post" *ngFor="let item of listAlbumPhotos | slice:0:10; let i = index">

    <mat-card-content class="img-opacity">
      <img [src]="item.url">
    </mat-card-content>

    <mat-card-actions class="album-actions-title">
      <div class="title-container-cards">
        <h3 [title]="item.title">{{ item.title }}</h3>
      </div>

      <div class="buttons-container-cards">
        <button mat-mini-fab color="accent" title="Compartilhar">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  </div>
  </div>
<router-outlet></router-outlet>
